<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>v-wafermap</title>
    <link rel="stylesheet" href="../dist/main.css" />
  </head>
  <body>
    <div id="app">
      <input type="range" name="width" id="map-width" min="100" max="1000" v-model="width" />
      <!-- checkbox -->
      <div>
        <input type="checkbox" name="show-grid" id="show-grid" v-model="showGrid" />
        <label for="show-grid">show grid</label>
        <div>
          <!-- add random coord -->
          <button
            @click="coords.push({ x: Math.floor(Math.random() * 25), y: Math.floor(Math.random() * 25), color: colorlist[0], info: [Math.floor(Math.random() * 50)], dut: Math.floor(Math.random() * 50) })"
          >
            add random coord
          </button>
          <!-- remove random coord -->
          <button @click="coords.pop()">remove random coord</button>
        </div>
        <v-wafermap
          :show-grid="true"
          :coords="coords"
          :width="width"
          :height="width"
          :show-axis-values="false"
          background-color="#f38f0b"
          notch="bottom"
          dieinfo-color="#f5d98a"
          @on-die="onDie"
        />
      </div>
    </div>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.7/vue.esm-browser.prod.js"
        }
      }
    </script>
    <script type="module">
      import { createApp, ref } from 'vue'
      import { VWafermap } from '../dist/vue-wafer-painter.es.js'

      createApp({
        components: {
          VWafermap
        },
        setup() {
          const colorlist = [
            '#ed742f',
            'green',
            'blue',
            'white',
            'black',
            'yellow',
            'pink',
            'purple'
          ]
          const width = ref(600)
          const showGrid = ref(true)
          const onDie = (event, coord) => {
            console.log(event, coord)
          }
          const coords = ref([
            // {
            //   info: ['1'],
            //   x: -2,
            //   y: -2,
            //   dut: 1,
            //   color: '#ff8080'
            // }
            // {
            //   info: ['2'],
            //   x: 0,
            //   y: 1,
            //   dut: 2,
            //   color: 'green'
            // },
            // {
            //   info: ['4'],
            //   x: 1,
            //   y: 0,
            //   dut: 1,
            //   color: 'rgb(0, 102, 204)'
            // },
            // {
            //   info: ['6'],
            //   x: 1,
            //   y: 2,
            //   dut: 3,
            //   color: 'blue'
            // },
            // {
            //   info: ['7', '789'],
            //   x: 2,
            //   y: 0,
            //   dut: 1,
            //   color: 'red'
            // },
            // {
            //   info: ['118', '123', '4564'],
            //   x: 2,
            //   y: 1,
            //   dut: 2,
            //   color: 'green'
            // },
            // {
            //   info: ['9'],
            //   x: 2,
            //   y: 2,
            //   dut: 3,
            //   color: '#b800e6'
            // }
          ])
          return {
            coords,
            colorlist,
            width,
            showGrid,
            onDie
          }
        }
      }).mount('#app')
    </script>
  </body>
</html>
